.my-custom-button {
    width: 100%;
    height: 35px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #1f272b;
    text-align: center;
    padding: 5px;
    color: white;
}

.button-without-border {
    width: 100%;
    height: 35px;
    background-color: #1f272b;
    text-align: center;
    padding: 5px;
    color: white;
}
.divOverflow{
    height: 300px;
    overflow: auto;
}