{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="TemplateMo">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Leitor Manga 0.1</title>

    <!-- Bootstrap core CSS -->
    <link href='{% static "css/bootstrap.min.css" %}' rel="stylesheet">
    

    <!-- Additional CSS Files -->

    <link rel="stylesheet" href='{% static "css/lightbox.css" %}'>
    <link rel="stylesheet" href='{% static "css/owl.css" %}'>
    <link rel="stylesheet" href='{% static "css/templatemo-edu-meeting.css" %}'>
    <link rel="stylesheet" href='{% static "css/fontawesome.css" %}'>


    <!-- Fonts -->
    <link rel="dns-prefetch" href="//fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">

    

    <!-- Styles -->

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!--

TemplateMo 569 Edu Meeting

https://templatemo.com/tm-569-edu-meeting

-->
  </head>

<body>
  {% include 'main_pages/layouts/navbar.html' %}
  {% block content %} {% endblock %}

  <!-- Scripts -->
    <script src='{% static "js/jquery.min.js" %}'></script>
    <script src='{% static "js/bootstrap.min.js" %}'></script>
    <script src='{% static "js/isotope.min.js" %}'></script>
    <script src='{% static "js/owl-carousel.js" %}'></script>
    <script src='{% static "js/lightbox.js" %}'></script>
    <script src='{% static "js/tabs.js" %}'></script>
    <script src='{% static "js/slick-slider.js" %}'></script>
    <script src='{% static "js/custom.js" %}'></script>
    <script src='{% static "js/geral.js" %}'></script>
</body>
</html>
