{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="TemplateMo">
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">

  <title>{% block title%} {% endblock %}</title>

  {% include 'main_pages/layouts/style.html' %}

</head>

<body>
  {% include 'main_pages/layouts/navbar.html' %}
  {% block content %} {% endblock %}


</body>
{% include 'main_pages/layouts/scripts.html' %}
</html>