{% load static %}
<!-- Bootstrap core CSS -->
<link href='{% static "css/bootstrap.min.css" %}' rel="stylesheet">


<!-- Additional CSS Files -->

<link rel="stylesheet" href='{% static "css/lightbox.css" %}'>
<link rel="stylesheet" href='{% static "css/owl.css" %}'>
<link rel="stylesheet" href='{% static "css/templatemo-edu-meeting.css" %}'>
<link rel="stylesheet" href='{% static "css/fontawesome.css" %}'>


<!-- Fonts -->
<link rel="dns-prefetch" href="//fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">

<!-- Styles -->

<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">



