{% extends 'main_pages/layouts/app.html' %}

{% block title%} Editar Manga {% endblock %}

{% block content %}
{% load static %}



<section class="heading-page header-text" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Crie Aqui Um Novo Manga!</h2>
            </div>
        </div>
    </div>
</section>

<section class="painel" id="meetings">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="painel-single-item">
                            <div class="down-content">
                                <ul class="messages">
                                    {% if messages %}
                                    <ul class="messages">
                                        {% for message in messages %}
                                        <li>
                                            <div class="alert alert-danger" role="alert">
                                                {{message}}
                                            </div>
                                        </li>

                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                </ul>

                                <form action="{% url 'update_manga' %}" method="POST" enctype="multipart/form-data"
                                    id="my-form">
                                    {% csrf_token %}
                                    <div class="col-lg-12">
                                        <fieldset>
                                            <label style="margin-left:10px;">Nome:</label>
                                            <input class="input" name="name" type="text" id="name" value="{{form.title}}"
                                                required="">
                                        </fieldset>
                                    </div>


                                    <div class="col-lg-12">
                                        <label style="margin-left:10px;">Data de Lancamento:</label>
                                        <input class="input" type="date" id="release_date" name="release_date"
                                            value="{{form.release_date|date:'Y-m-d'}}" required>
                                    </div>

                                    <div class="col-lg-12">
                                        <fieldset>
                                            <label style="margin-left:10px;">Nome do autor:</label>
                                            <input class="input" name="author_name" type="text" id="author_name"
                                                value="{{form.author}}" required="">
                                        </fieldset>
                                    </div>



                                    <div class="col-lg-12">
                                        <fieldset>
                                            <label style="margin-left:10px;">Descrição:</label>
                                            <textarea name="description" type="text" style="background-color: #e9e3e3;"
                                                class="form-control description" id="description" rows="5"
                                                required="">{% if form.description != None %} {{form.description}} {% endif %}</textarea>
                                        </fieldset>
                                    </div>
                                    <input name="id" id="id" type="hidden" value="{{id}}">
                                    <input name="tags" id="tags" type="hidden" value="{{tags}}">
                                    <div class="col-lg-12 divSelect">
                                        <label>Escolha as tags do manga:</label>
                                        <br>
                                        <select class="js-example-responsive" id="tagSelect" multiple="multiple"
                                            style=" width: 50%;" required="">
                                            <option value="Ação" {% if 'Ação' in tags %} selected {% endif %}>Ação</option>
                                            <option value="Aventura" {% if 'Aventura' in tags %} selected {% endif %}>Aventura</option>
                                            <option value="Shounen" {% if 'Shounen' in tags %} selected {% endif %}>Shounen</option>
                                            <option value="Seinen" {% if 'Seinen' in tags %} selected {% endif %}>Seinen</option>
                                            <option value="Drama" {% if 'Drama' in tags %} selected {% endif %}>Drama</option>
                                            <option value="Fantasia" {% if 'Fantasia' in tags %} selected {% endif %}>Fantasia</option>
                                            <option value="Romance" {% if 'Romance' in tags %} selected {% endif %}>Romance</option>
                                            <option value="Sci-fi" {% if 'Sci-fi' in tags %} selected {% endif %}>Sci-fi</option>
                                        </select>
                                    </div>
                                    <br>
                                    <input name="managers" id="managers" type="hidden">
                                    <div class="col-lg-12 divSelect">
                                        <label>Escolha quem poderá manipular esse manga:</label>
                                        <br>
                                        <select class="js-example-responsive" id="managerSelect" multiple="multiple" style=" width: 50%;" required="">
                                            {% for use in users %}
                                            <option value="{{use.username}}">{{use.username}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>


                                    <div class="multiple-uploader" id="multiple-uploader" aria-required="true">
                                        <div class="mup-msg">
                                            <span class="mup-main-msg">Adicione a foto do banner para o manga</span>
                                            <span class="mup-msg" id="max-upload-number">Apenas 1 foto é
                                                necessaria</span>
                                            <span class="mup-msg">Apenas imagens são permitidas!</span>
                                        </div>
                                    </div>

                                    <button class="my-custom-button" type="submit">Criar Manga</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
</section>
<section class="contact-us" id="contact">
    {% include 'main_pages/layouts/footer.html' %}
</section>


<script src='{% static "js/manga.js" %}'></script>
<link rel="stylesheet" href='{% static "css/details.css" %}'>
<link rel="stylesheet" href='{% static "css/manga.css" %}'>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.4/js/select2.min.js"></script>

<script>
    $("#tagSelect").on("select2:select select2:unselect", function (e) {
        $("#tags").val($(this).val());
    });

    $("#managerSelect").on("select2:select select2:unselect", function (e) {
        $("#managers").val($(this).val());
    });

    $(".js-example-responsive").select2({
        width: 'resolve' // need to override the changed default
    });

    let multipleUploader = new MultipleUploader('#multiple-uploader').init({
        maxUpload: 1, // maximum number of uploaded images
        maxSize: 2, // in size in mb
        filesInpName: 'images', // input name sent to backend
        formSelector: '#my-form', // form selector
    });
</script>


{% endblock %}