{% extends 'main_pages/layouts/app.html' %}

{% block title%} Manga CRUD{% endblock %}

{% block content %}
{% load static %}

<section class="heading-page header-text" id="top">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Gerenciar Manga</h2>
      </div>
    </div>
  </div>
</section>


<section class="painel" id="meetings">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-12">
            <div class="painel-single-item painel-margin">
              <div class="down-content">
                <div style="overflow:auto; height: 500px;">
                  <table id="table" name="table" class="table table-bordered table-hover" width="100%">
                    <thead>
                      <tr>
                        <th>id</th>
                        <th>titulo</th>
                        <th>managers</th>
                        <th>data de lancamento</th>
                        <th>author</th>
                        <th>opcoes</th>
                      </tr>
                    </thead>
                    <tbody>

                      {% for manga in mangas %}
                        <tr>
                          <td>{{manga.id}}</td>
                          <td>{{manga.title}}</td>
                          <td>{{manga.managers.all}}</td>
                          <td>{{manga.release_date}}</td>
                          <td>{{manga.author}}</td>
                          <td>
                            <a href="/manga/edit-manga/{{manga.id}}" class="btn btn-outline-primary"><span>Edit</span></a>
                            <a href="/manga/delete-manga/{{manga.id}}" class="btn btn-outline-primary"><span>Delete</span></a>
                            <a href="/manga/details/{{manga.id}}" class="btn btn-outline-primary"><span>Gerenciar</span></a>
                          </td>
                        </tr>
                      {% endfor %}

                    </tbody>
                  </table>
                </div>
                <br>
                <a class="btn btn-outline-primary" href="/manga/create-manga">Adicionar Novo Manga</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<section class="contact-us" id="contact">
  {% include 'main_pages/layouts/footer.html' %}
</section>



{% endblock %}