{% extends 'main_pages/layouts/app.html' %}

{% block title%} Detalhes{% endblock %}

{% block content %}
{% load static %}


<section class="heading-page header-text" id="top">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Problem Title</h2>
      </div>
    </div>
  </div>
</section>

<section class="painel" id="meetings">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-12">
            <div class="painel-single-item">
              <div class="down-content">

                <div class="list-group" style="overflow: auto; height: 350px;">

                  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">Amospk1</h5>
                      <small class="text-muted">3 days ago</small>
                    </div>
                    <p class="mb-1">Ola Mundo </p>
                  </a>
                  <br>
                  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                      <h5 class="mb-1">Amospk2</h5>
                      <small class="text-muted">3 days ago</small>
                    </div>
                    <p class="mb-1"> Eae! </p>
                  </a>

                </div>

                <br>
                <div class="col-lg-12">
                    <fieldset>
                      <textarea name="message" type="text" class="form-control" id="message" placeholder="YOUR MESSAGE..." required="" rows="5  "></textarea>
                    </fieldset>
                  </div>
                  <button type="button" class="btn btn-outline-primary" style="width: 100%;">
                    Enviar Comentário
                  </button>
              </div>
            </div>
          </div>

<!--           <div class="col-lg-12">
            <div class="pagination">
              <ul>
                <li><a href="">1</a></li>
                <li><a href="">2</a></li>
                <li><a href="">3</a></li>
                <li><a href=""><i class="fa fa-angle-right"></i></a></li>
              </ul>
            </div>
          </div>  --> 

        </div>
      </div>
    </div>
</section>
<section class="contact-us"
    id="contact">
    {% include 'main_pages/layouts/footer.html' %}
</section>

{% endblock %}