{% extends 'main_pages/layouts/app.html' %}

{% block title%} Manga Reader 0.1{% endblock %}

{% block content %}
{% load static %}
<section class="section main-banner" id="top" data-section="section1">
  <img autoplay muted loop id="bg-video" src='{% static "images/berserk-background.jpg" %}'>
  </img>
  <div class="video-overlay header-text">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="caption">
            <h2>Ola Leitor! {% if user %} {{user.username}} {% endif %}</h2>
            <p>Aqui você encontrará uma incrivel variedade de mangas para a sua diversão!</p>
            {% if not user %}
            <div class="main-button-red">
              <div class="bnt bnt-primary"><a href="/register">Crie Sua Conta Agora</a></div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="services" style="margin-top: -200px;">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="owl-service-item owl-carousel">

          {% for manga in mangas %}
          <div class="col-lg-12">
            <div class="meeting-item">
              <div class="thumb">
                <a href="manga/details/{{manga.id}}"><img src='{% get_media_prefix %}{{manga.image}}' alt=""></a>
              </div>
              <div class="down-content">
                <h3>{{manga.title}}</h3>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
<section class="upcoming-meetings" id="meetings">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-heading">
          <h2>Ultimos Lancamentos</h2>
        </div>
      </div>
      <div class="col-md">
        <div class="row">
          {% for manga in mangas %}
          <div class="col-md-6">
            <div class="meeting-item">
              <div class="thumb">
                <a href="manga/details/{{manga.id}}"><img src='{% get_media_prefix %}{{manga.image}}' alt="New Lecturer Meeting"></a>
              </div>
              <div class="down-content">
                <div class="date">
                  <h6>{{manga.release_date}}</h6>
                </div>
                <a href="/">
                  <h4>{{manga.title}}</h4>
                </a>
                <p>{{manga.description}}...</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
</section>

<section class="our-courses" id="courses">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-heading">
          <h2>Best Shonens</h2>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="owl-courses-item owl-carousel">

          {% for manga in mangas %}
          <div class="item">
            <a href="manga/details/{{manga.id}}"><img src='{% get_media_prefix %}{{manga.image}}' alt="Name"></a>
            <div class="down-content">
              <h4>{{manga.title}}</h4>
              <div class="info">
                <div class="row">
                  <div class="col-8">
                    <ul>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>
    </div>
  </div>
</section>

<section class="our-courses" id="courses">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-heading">
          <h2>Best Seinen</h2>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="owl-courses-item owl-carousel">

          {% for manga in mangas %}
          <div class="item">
            <a href="manga/details/{{manga.id}}"><img src='{% get_media_prefix %}{{manga.image}}' alt="Name"></a>
            <div class="down-content">
              <h4>{{manga.title}}</h4>
              <div class="info">
                <div class="row">
                  <div class="col-8">
                    <ul>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                      <li><i class="fa fa-star"></i></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>


<section class="contact-us" id="contact">
  {% include 'main_pages/layouts/footer.html' %}
</section>

{% endblock %}