<div class="modal fade bd-example-modal-lg" id="RegisterManga" tabindex="-1" role="dialog" aria-labelledby="RegisterMangaLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="RegisterMangaLabel">Cadastrar Manga</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <form action="/create_manga/create" method="POST" enctype="multipart/form-data">
        <div class="row">
          <div class="col-md-6">
            <label for="">Name</label>
            <input id="name" name="name" type="text" class="form-control" placeholder="Nome">
          </div>
          <div class="col-md-6">
            <label for="">Capitulos</label>
            <input id="capitulos" name="capitulos" type="text" class="form-control" placeholder="Capitulos">
          </div>
          <br><br><br>
          <div class="col-md-6">
            <label for="">Status</label>
            <input id="status" name="status" type="text" class="form-control" placeholder="Status">
          </div>
          <div class="col-md-6">
            <label for="">Data de lancamento</label>
            <input id="data_lancamento" name="data_lancamento" type="date" class="form-control" placeholder="Lancamento">
          </div>
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
      </div>
      </form>
      </div>
      
    </div>
  </div>
</div>