{% extends 'main_pages/layouts/app.html' %}

{% block title%} User Crud {% endblock %}

{% block content %}
{% load static %}

<section class="heading-page header-text" id="top">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Gerenciar Usuário </h2>
        
      </div>
    </div>
  </div>
</section>


<section class="painel" id="meetings">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="row">
          <div class="col-lg-12">
            <div class="painel-single-item painel-margin">
              <div class="down-content">
                <div style="overflow:auto; height: 500px;">
                  <table id="table" name="table" class="table table-bordered table-hover" width="100%">
                    <thead>
                      <tr>
                        <th>id</th>
                        <th>Name</th>
                        <th>E-mail</th>
                        <th>Tipo</th>
                        <th>Data De Nascimento</th>
                        <th>Opções</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      {% for user in users %}
                      <tr>
                        <td>{{user.id}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.type}}</td>
                        <td>{{user.data_nascimento}}</td>
                        <td>
                          <a href="/edit/{{user.id}}" class="btn btn-outline-primary"><span>Edit</span></a>
                          {% if user.type == "Admin" %}
                          <a href="/change_type_of_user/{{user.id}}" class="btn btn-outline-primary"><span>Set As
                              usuário</span></a>
                          {% else %}
                          <a href="/change_type_of_user/{{user.id}}" class="btn btn-outline-primary"><span>Set As
                              admin</span></a>
                          {% endif %}
                          <a href="/delete/{{user.id}}" class="btn btn-outline-primary"><span>Delete</span></a>
                        </td>
                      </tr>

                      {% endfor %}
                      
                    </tbody>
                  </table>
                </div>
                <br>
                <button type="button" class="btn btn-outline-primary"  data-toggle="modal" data-target="#registerModal">
                  create new user
                </button>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
<section class="contact-us" id="contact">
  {% include 'main_pages/layouts/footer.html' %}
</section>

{% include 'auth/modals/register_modal.html' %}


      <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
  crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
  integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
  crossorigin="anonymous"></script>




{% endblock %}